In [177]:
import numpy as np
import pandas as pd
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':float, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}
train_data = pd.read_csv('kc_house_data_small_train.csv',dtype=dtype_dict)
test_data = pd.read_csv('kc_house_data_small_test.csv',dtype=dtype_dict)
validation_data = pd.read_csv('kc_house_data_validation.csv',dtype=dtype_dict)
from math import sqrt

In [178]:
def get_numpy_data(data_sframe, features, output):
    data = pd.DataFrame()
    n = len(data_sframe)
    data['ones'] = pd.DataFrame([1]*n,columns=['ones'],dtype = 'int')
    data[features] = data_sframe[features].copy()
    data['output'] = data_sframe[output].copy()
    features = ['ones']+features
    return data[features],data['output']

In [179]:
def normalize_features(features):
    x = list(features)
    norms = []
    for feature in x:
        if feature == 'ones':
            features[feature] = features[feature]
            norms.append(1)
        else:
            temp = sqrt((features[feature]*features[feature]).sum())
            features[feature] = features[feature]/temp
            norms.append(temp)
    norms = np.array(norms)
    return features,norms

In [180]:
features = list(set(train_data)-set(['price','id','zipcode','date']))
print features

['bathrooms', 'sqft_living15', 'sqft_above', 'grade', 'yr_built', 'bedrooms', 'long', 'sqft_lot15', 'sqft_living', 'floors', 'sqft_lot', 'waterfront', 'sqft_basement', 'yr_renovated', 'lat', 'condition', 'view']

In [181]:
feature_train,output_train = get_numpy_data(train_data,features,'price')
feature_test,output_test = get_numpy_data(test_data,features,'price')
feature_validation,output_validation = get_numpy_data(validation_data,features,'price')

feature_train,norms = normalize_features(feature_train)

In [182]:
feature_test = feature_test/norms
feature_validation = feature_validation/norms

In [183]:
def eucledian_distance(a,b):
    features = list(a)
    temp = 0
    for x in features:
        temp += (float(a[features]) - float(b[features]))**2
    print temp
eucledian_distance(feature_test[0:1],feature_train[9:10])

TypeError: float() argument must be a string or a number

In [170]:
x = pd.DataFrame([1]*10,columns=['ones'],dtype=int)
x

   ones
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1

    id date  price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
3  NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN

   waterfront  view     ...      grade  sqft_above  sqft_basement  yr_built  \
0         NaN   NaN     ...        NaN         NaN            NaN       NaN
3         NaN   NaN     ...        NaN         NaN            NaN       NaN

   yr_renovated  zipcode lat  long  sqft_living15  sqft_lot15
0           NaN      NaN NaN   NaN            NaN         NaN
3           NaN      NaN NaN   NaN            NaN         NaN

[2 rows x 21 columns]

In [189]:
x = train_data[0:1]
y = train_data[1:2]
print x,y

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0       3.0        1.0       1180.0

   sqft_lot  floors  waterfront  view     ...      grade  sqft_above  \
0      5650     1.0           0     0     ...          7        1180

   sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0              0      1955             0    98178  47.5112 -122.257

   sqft_living15  sqft_lot15
0         1340.0      5650.0

[1 rows x 21 columns]            id             date     price  bedrooms  bathrooms  sqft_living  \
1  6414100192  20141209T000000  538000.0       3.0       2.25       2570.0

   sqft_lot  floors  waterfront  view     ...      grade  sqft_above  \
1      7242     2.0           0     0     ...          7        2170

   sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
1            400      1951          1991    98125  47.721 -122.319

   sqft_living15  sqft_lot15
1         1690.0      7639.0

[1 rows x 21 columns]

In [192]:
print x['price']
print y['price']

0    221900.0
Name: price, dtype: float64
1    538000.0
Name: price, dtype: float64

In [ ]:
x.